# dependencies
node_modules/
**/node_modules/

# next.js
.next/
**/.next/
out/
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
**/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db
